/* You can add global styles to this file, and also import other style files */
.card {
  width: 18rem;
}

.heart {
  color: red;
}

.card:hover {
  transform: translateX(-5px) scale(1.05);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.662);
}
