<div class="container">
  <form #form="ngForm" (ngSubmit)="registra(form)">
      <div class="form-group">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" class="form-control" required ngModel>
      </div>
      <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" class="form-control" required ngModel>
      </div>
      <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control" required ngModel>
      </div>
      <button type="submit" [disabled]="form.invalid" class="btn btn-primary mt-3">Registrati</button>
      <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status"></span>
  </form>
</div>

<!-- name deve chiamarsi come l'elemento dell'interfaccia -->
