<div class="text-center mt-3">
  <h1>To do list</h1>
  <ul class="list-group">
    <li *ngFor="let todos of todo" class="mt-3">
      <div *ngIf="todos.complited == false">
        {{todos.title}}
      <div class="mt-3">
        <button type="button" class="d-inline btn b-0 bg-light me-3" (click)="todoCompletato(todos.id)">Completed ✔</button>
        <button type="button" class="d-inline btn b-0 bg-light" (click)="cancellaTodo(todos.id)">Remove from todos ❌</button>
      </div>
      </div>
    </li>
  </ul>

  <form #form="ngForm" (ngSubmit)="aggiungiTodo(form)">
      <div class="mb-3">
        <label for="title"></label>
        <input type="text" id="title" class="form-control" name="title" required ngModel placeholder="New To Do">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>


